{% extends "base_generic.html" %}
{% load static %}

{% block content %}
  <div class="container">
    <h1 class="header">WHERE DID I WATCH ?
    </h1>

    {% if latest_movie_list %}

    <ul class="movie-cards-container">
      {% for movie in latest_movie_list %}
      <li class="movie-card">
        <button class="btn-card">
          <a href="/movies/{{ movie.id }}/" class="link"
            >{{ movie.movie_name }}</a
          >
        </button>
      </li>
      {% endfor %}
    </ul>

    {% else %} {% endif %}

    <div class="form-cont">
      <h1 class="form-title">New Entry</h1>
      <form action="" method="post" class="form">
        {% csrf_token %}
        <table class="table">
          {{form}}
        </table>
        <input type="submit" class="btn-sub">
      </form>
    </div>
  </div>
{% endblock %}

{% block form %}
<h1>form section</h1>
{% endblock %}
