{% extends "base_generic.html" %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="header-container">
      <h1 class="header">WHERE DID I WATCH ? </h1>
      <button class="btn-addmovie"><a href="/movies/addmovie" class="link"
            >add a movie</a></button>
    </div>

    {% if latest_movie_list %}

    <ul class="movie-cards-container">
      {% for movie in latest_movie_list %}
      <li class="movie-card">
        <button class="btn-card">
          <a href="/movies/{{ movie.id }}/" class="link"
            >{{ movie.movie_name }}</a
          >
        </button>
      </li>
      {% endfor %}
    </ul>

    {% endif %}


  </div>
{% endblock %}

{% comment %} {% block form %}
<h1>form section</h1>
{% endblock %} {% endcomment %}
