{% comment %} {% for provider in choice %}
  {{provider}} {% endcomment %}
  {% comment %} {% if provider_id == provider222_id %} {% endcomment %}
    <h1>{{provider_provider}}</h1>
    <div class="container">
      <h1>{{movie.movie_name}}</h1>

      <h4>Descripttion : {{movie.movie_description}}</h4>
      <h4>You watched this movie at: {{movie.watched_date}}</h4>
      <h4>You used {{movie.provider222_id}}(to be changed) to watch this movie !</h4>

    </div>
  {% comment %} {% endif %}
{% endfor %} {% endcomment %}
