/* Basic css template */
* {
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
}

.container {
  min-height: 100vh;
  max-width: 650px;
  margin: 5rem auto;

  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.5rem;
}

.movie-cards-container {
  margin-top: 3rem;

  list-style: none;
  text-decoration: none;

  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.movie-card {
  list-style: none;
  width: 8rem;
  height: 3rem;
  border: 2px solid grey;
  text-decoration: none;

  /* text-align: center; */
  display: grid;
  justify-items: center;
}

.movie-card a {
  text-decoration: none;
  color: rgb(1, 1, 28);

  font-size: 1.25rem;
  font-weight: bolder;

  display: flex;
  justify-content: center;
}

.btn-card {
  border: none;
  background-color: transparent;
  width: 100%;
  padding: 0.35rem 0;
}

.btn-card a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.btn-sub {
  width: 100%;
  align-self: center;
  padding: 0.35rem 0;
}

.link {
  text-decoration: none;
  color: black;
}

.link-back {
  background-color: blue;
  color: white;
  font-weight: bolder;
}
.link-back a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0px;
}

.form-container {
  display: grid;
  gap: 1rem;
}

.header-container {
  justify-content: center;
}

.btn-addmovie {
  height: 3rem;
  border: 2px solid grey;
  text-decoration: none;
  font-size: 1.5rem;
}

.btn-addmovie a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
