
/* Basic css template */
* {
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
}

.container {
  min-height: 100vh;
  max-width: 650px;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}



.movie-cards-container {
  margin-top: 3rem;

  list-style: none;
  text-decoration: none;

  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.movie-card {
  list-style: none;
  width: 8rem;
  height: 3rem;
  border: 2px solid grey;
  text-decoration: none;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-card a {
  text-decoration: none;
  color: rgb(1, 1, 28);

  font-size: 1.25rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}

.btn-card {
  border: none;
  background-color: transparent;
  width: 50%;
  padding: 5px 0;
  margin: 15px 0;
  align-self: center;
}
.btn-card a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.btn-sub {
  width: 50%;
  align-self: center;
  margin: 15px 0;
}

.link {
  text-decoration: none;
  color: black;
}

.link-back {
  background-color: blue;
  color: white;
  font-weight: bolder;
}
.link-back a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0px;
}

.form-container {
  display: grid;
  gap: 1rem;
}

.header-container{
  justify-content: center;
}


.btn-addmovie {
  height: 3rem;
  border: 2px solid grey;
  text-decoration: none;
  font-size: 1.5rem;
}

.btn-addmovie a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
