* {
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
}

.container {
  min-height: 100vh;
  max-width: 650px;
  margin: 5rem auto;
}

.movie-cards-container {
  margin-top: 3rem;

  list-style: none;
  text-decoration: none;

  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.movie-card {
  list-style: none;
  width: 8rem;
  height: 3rem;
  border: 2px solid grey;
  text-decoration: none;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-card a {
  text-decoration: none;
  color: rgb(1, 1, 28);

  font-size: 1.25rem;
  font-weight: bolder;
}

.btn-card {
  border: none;
  background-color: transparent;
}


.link-back {
  background-color: blue;
  color: white;
  font-weight: bolder;
}


.text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.form-title {
  /* color: red; */
  align-self: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 15px;
}

.form-cont {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0px;
}

.form {
  display: flex;
  flex-direction: column;
}

.table {
  /* background-color: yellow; */
  align-items: center;
  align-self: center;
  padding-bottom: 15px;
}

.btn-sub {
  align-self: center;
}
